<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.job4j.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.controller.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DescriptionServlet</servlet-name>
        <servlet-class>ru.job4j.controller.DescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DescriptionServlet</servlet-name>
        <url-pattern>/description.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>ru.job4j.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>ru.job4j.controller.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/authorization.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>ru.job4j.controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
</web-app>
